/virtual-env
/02_python_web3_simple_storage/.env

# brownine project
.idea
/03_brownie_simple_storage/brownie_project/.env
/03_brownie_simple_storage/brownie_project/.history
/03_brownie_simple_storage/brownie_project/.hypothesis/
/03_brownie_simple_storage/brownie_project/build/
/03_brownie_simple_storage/brownie_project/reports/