[submodule "06_foundry-fund-me/lib/forge-std"]
	path = 06_foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "06_foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = 06_foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "06-foundry-fund-me/lib/forge-std"]
	path = 06-foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "06-foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = 06-foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "06-foundry-fund-me/lib/foundry-devops"]
	path = 06-foundry-fund-me/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "08-foundry-smart-contract-lottery/lib/chainlink-brownie-contracts"]
	path = 08-foundry-smart-contract-lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "08-foundry-smart-contract-lottery/lib/solmate"]
	path = 08-foundry-smart-contract-lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "08-foundry-smart-contract-lottery/lib/foundry-devops"]
	path = 08-foundry-smart-contract-lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "08-foundry-smart-contract-lottery/ex/lib/forge-std"]
	path = 08-foundry-smart-contract-lottery/ex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08-foundry-smart-contract-lottery/new/lib/forge-std"]
	path = 08-foundry-smart-contract-lottery/new/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "08-foundry-smart-contract-lottery/new/lib/chainlink-brownie-contracts"]
	path = 08-foundry-smart-contract-lottery/new/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "08-foundry-smart-contract-lottery/new/lib/solmate"]
	path = 08-foundry-smart-contract-lottery/new/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "08-foundry-smart-contract-lottery/new/lib/foundry-devops"]
	path = 08-foundry-smart-contract-lottery/new/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "08-foundry-smart-contract-lottery/lib/forge-std"]
	path = 08-foundry-smart-contract-lottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "09-foundry-erc20/lib/forge-std"]
	path = 09-foundry-erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "09-foundry-erc20/lib/openzeppelin-contracts"]
	path = 09-foundry-erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10-foundry-nft/lib/forge-std"]
	path = 10-foundry-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "10-foundry-nft/lib/openzeppelin-contracts"]
	path = 10-foundry-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "10-foundry-nft/lib/foundry-devops"]
	path = 10-foundry-nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
