[Desktop Entry]
name=Ganache
Exec=/home/shayon/Downloads/Apps/ganache-2.7.1-linux-x86_64.AppImage
Icon=/home/shayon/Downloads/Apps/ganache.png
Type=Application
Categories=Programming;
